aside.logo {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.logo img {
  padding: 0px 15px;
  width: 75%;
  height: 100px;
  padding-left: 50px;
}

@media(max-width: 576px) {
  aside.logo img {
    width: 50%;
    padding-left: 10vh;
    margin-left: 20vw;
  }
}